.gallery {
  display: grid;
  max-width: calc(100vw - 48px);
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .gallery {
    max-width: calc(100vw - 20px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
